SUPABASE_URL=<Supabase URL>
SUPABASE_ANON_KEY=<Anon Key from Supabase>
GOOGLE_CLIENT_ID=<Google Client ID for Supabase>
TERMS_OF_USE_URL=https://beranibicara.site/terms-of-service
PRIVACY_POLICY_URL=https://beranibicara.site/privacy-policy